*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}   
body,.main2,.card,.main7,.main3,.main4,.main5{
    background-color: black;
}
.main{
    height: 700px; 
    background-image: radial-gradient(gray 60%,black) ,url(data/back.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}
nav{
    margin:0 2rem;
    padding: 2rem 0;
}
.TVintro,.email{
    flex-wrap: nowrap;
}
.enjoy,.intro,.img,.cardintro,.main4,.kidintro,.main6,.button,.main7,ul{
    flex-direction: column;
}
nav,.main,.intro,.email,.TVintro,.enjoy,.tv,.cardintro,.img,.card img,.enimation,.stream,.kids,.kidintro,.ask,.button,.main6 p,.question-heading,.main7,.contect,.end,ul{
    border: 0px solid green;
}
.tv,.enjoy,.cardintro,.img,.enimation,.main4,.main5,.kids,.kidintro,.main2{
    justify-content: center;
}
nav,.TVintro,.main3,.button{
    justify-content: space-between;
}
nav,.tv,.intro,.enimation,.kids,.main6,.main7{
    align-items: center;
}
nav,.intro,.email,.TVintro,.enjoy,.tv,.cardintro,.img,.card,.enimation,.main3,.main4,.main5,.kids,.kidintro,.main6,.button,.main2,.main7,ul{
    display: flex;
}
button,.h1,.h3,h4,.enjoy h1,.enjoy h3,.p1,.p3,.p4,.p5,.p6,.p7,.p8,.askintro,.main6 p,.question-heading,.p11,.p12,.end{
    color: white;
}
.main2,.main3,.main4,.main5,.main6,.main7,ul{
    width: 100%;
}
.main2,.enimation,.main5,.main7{
    height: 400px;
}
.h1,.p11,.p3,.p5,.p7{
    font-size: 3rem;
}
.h1,.p11,.p1,.p3,.p5{
    font-weight: bold;
}
.logo{
    width: 150px;
}
button{
    padding: 10px;   
    background-color: red;
    border-radius: 5px;
    font-size: 20px;
}
.h1{
    max-width: 12em;  
}
.h3{
    font-size: 1.6em;
    line-height: 3em;
}
h4{
    font-size: 1.3em;
    line-height: 4em;
}
.h1,.h3,h4,.askintro{
    text-align: center;
}
.intro{
    margin-top: 9rem;
}
.email input{
    width: 75%;
    padding:20px 0px 20px 10px;
    font-size: 1.3em;
}
.email button{
    width: 25%;
    border: none;
    border-radius: 0px;
}
.email{
    width: 57%;
}
hr{
    height: 8px;
    background-color: rgb(33, 33, 33);
    border: none;
}
/* TV */
 .enjoy{
    margin-left: 3rem;
} 
.p11{
    line-height: 5rem;
}
.p12{
    max-width: 40rem; 
    font-size: 1.9rem;
}
.tv{
    width: 40rem;
    position: relative; 
}
 .tv img{
    position: absolute;
    width: 30rem;
} 
.tv video{
    width: 22rem;
}
/* Enimation card */
.main3{
    height: 50%;
}
.enimation{
    width: 500px;
    min-width: 500px;
    background-image: url(data/stranger.jpg);
    background-repeat: no-repeat;
    background-size: 500px;
}
.card{
    background-image: url(data/download-icon.gif);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50px;
    border: 2px solid rgb(55, 55, 55);
    border-radius: 10px;
    margin-top: 13rem;
    width: 300px;
    height: 75px;
}
.card img{
    width: 3.4rem;
    height: 100%;
    padding: 5px 0px 5px 10px; 
}
.img{
    margin-left: 1.1em;
}
.p1{
    line-height: 25px;
}
.p2{
    color: blue;
}
.cardintro{
    width: 50%;
}
.p3,.p4{
    max-width: 90%;
}
.p4{
    margin-top:2rem ;
    font-size: 1.9rem;
}
/* watch everywaer */
.main4{
    height: 250px;
}
.stream{
    margin-left: 5rem;
    width: 45%;
}
.p5{
    margin-bottom: 20px;
}
.p6{
    font-size:1.8rem ;
    font-weight: normal;
    line-height: 35px;
}
/* Kids Introduction */
.kids{
    width: 50%;
}
.kids img{
    width: 29rem;
}
.kidintro{
    width: 50%;    
}
.p7{ 
    max-width: 90%;
    margin-bottom: 20px;
}
.p8{
    max-width: 78%;
    font-size:1.5rem ;
    font-weight: normal;
}
/* Q. & .A */
.askintro{
    font-size: 3.5rem;    
}
.first-button,.ask{
    margin-top: 2rem;
}
.other-button{
    margin-top: 1rem;
}
.button {
    overflow: hidden;
    height: 65px;
    width: 70%;
    background-color: rgb(56, 56, 56);
    transition: height;
    transition-duration: 1ms;
    transition-delay: 0.1s;
}
.button:hover{
    height:80%;
}
.main6 p , .question-heading{
    padding: 15px;
    font-size: 2rem;       
}
.p9,.p10{
    font-size: 1.6rem;
}
.question-icon{ 
    transform:  rotateZ(0deg);
    margin-left: auto;
}
.question-icon:hover {
    transform: rotateZ(45deg);
}
.question-header{
    border-bottom: 2px solid black;
    display: flex;   
}
.last-button{
    margin-bottom: 3rem;
}
.line{
    margin-top: 4rem;
}
      /* Contect us */
.contect{
    width: 80%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.end{
    margin-top: 1.5rem;
    width: 80%;
}
ul li{
    margin-bottom: 1rem;
    display: inline-block;
}
li a,.end,.contect a{
    color:  rgb(56, 56, 56);
    text-decoration: none;
}
li a:hover,.contect a:hover{
    text-decoration: underline;
}
.all-A ul{
    text-decoration: none;
    flex-wrap: wrap;
    height: 150px;
}
.all-A{
    width: 80%;
}
      /* use media qury */
          /* 1000PX */
@media screen and (max-width:1000px) {
    .main2{
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        height: 600px;    
    }
     .enjoy{
        margin-left: 0rem;
        width: 90%;
    } 
    .p11{
        text-align: center;
    }
    .p12{
        text-align: center;
        max-width: 100%;  
        font-size: 1.9rem;
    }
    .tv{
        width:100%;
        margin-bottom: 2rem;
        position: relative; 
    }
     .tv img{
        width: 20rem;
    } 
    .tv video{
        width: 15rem;
    }
    .main6 p , .question-heading{
        /* padding: 15px; */
        font-size: 1.8rem;       
    }
    .askintro{
        font-size: 3rem;
    }
    .main5{
        flex-direction: column-reverse;
        width: 100%;
        height: 500px;
    }   
    .kids{
        width: 100%;
    }
    .kidintro{
        width: 90%; 
        flex-direction: column;
        text-align: center;
        align-items: center; 
    }
    .p7{ 
        max-width: 100%;
        font-weight: bold;
    }
    .p8{
        max-width: 100%;
        font-size:1.2rem ;
    }           
    .main4,.main5{
        align-items: center;
    }
    .stream{
        margin: 0;
        width: 90%;
        text-align: center;
    }
    .p5,.p7{
        font-size: 2.5rem; 
    }
    .p6{
        font-size:1.5rem ;
        font-weight: normal; 
        line-height: 35px;
    }   
    .email{
        width: 500px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; 
    }
    .email button{
        width: 150px;
        margin-top: 1.1rem;
    }
    .email input{
        width: 500px;
        padding:20px 0px 20px 10px;
        font-size: 1.1em;
    }
    .h3{
        font-size: 1.4em;
        line-height: 2em;
    }
    h4{
        font-size: 1.2em;
        line-height: 3em;
    }
    .p3{
        font-size: 2.5rem;
    }
    .p4{
        font-size: 1.7rem;
        font-weight: normal;
    }
}
           /* 700PX */
@media screen and (max-width:700px) {
    .button{
        height: 50px;
        width: 90%;
    }
    .main6 p , .question-heading{
        padding: 10px; 
        font-size: 1.5rem;   
        font-weight: normal;    
    }
    .askintro{
        font-size: 2.5rem;
    }
    .main{
        height: 600px;
    }
    .logo{
        width: 23%;
       min-width: 100px;
    }
    button{
        padding: 5px;   
        font-size: 15px;
    }
    .intro{
        margin-top: 4rem;        
    }
    .email{
        width: 73%;
        flex-direction: column;
    }
    .email input{
        width: 100%;
        font-size: 1.1em;
    }
    .h1{
        font-size: 2.5rem;
        text-align: center;
        max-width: 12em;
        font-weight: bold;
    }
    .h3{
        font-size: 1.4em;
        line-height: 2em;
    }
    h4{
        font-size: 1.2em;
    }
}
            /* 440PX */
@media screen and (max-width:440px) {
    .main{
        height: 550px;
    }
    .email{
        width: 73%;
        flex-direction: column;
    }
    .email input{
        width: 100%;
        height: 50px;
        font-size: 1.1em;
    }
    .h1{
        font-size: 2rem;
        max-width: 10em;
    }
}
      /* Only enimation card */
@media screen and (max-width:900px) {
    .p3{
        font-size: 2.5rem;
        max-width: 100%;
        line-height: 50px;
    }
    .p4{
        max-width: 100%;
        font-size: 1.7rem;
        line-height: 30px;
    }
    .main3{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .cardintro{
        margin-top: 5rem;
         width: 85%; 
        text-align: center;
    }
}
@media screen and (max-width:520px){
    .button{
        height: 40px;
    }
    .main6 p , .question-heading{
        padding: 10px; 
        font-size: 1rem;   
        font-weight: normal;    
    }
    .askintro{
        font-size: 2rem;
    }
}
@media screen and (max-width:510px) {
    .p11{
        line-height: 3rem;
        text-align: center;
        font-size: 2.5rem;
    }
    .p12{
        font-size: 1.5rem;
    }
    .kids{
        width: 300px;
    }
    .kids img{
        width: 100%;
    }
    .p8{
        font-size:1rem;
    }           
    .p3,.p5,.p7{
        font-size: 2rem;
    }
    .p4{
        font-size: 1rem;
        margin-top: 1rem;
    }
    .p6{
        font-size: 1.2rem ;
    }
    .enimation{
        width: 300px;
        min-width: 300px;
        height: 300px;
        background-size: 300px;
    }
    .card{
        background-size: 50px;
        border-radius: 10px;
        margin-top: 10rem; 
        width: 250px;
    }
}
@media screen and (max-width:800px) {
    .all-A ul{
        height: 200px;
    }
}
@media screen and (max-width:640px) {
    .main7{
        height: 500px;
    }
    .all-A ul{
        height: 280px;
    }
}
@media screen and (max-width:450px) {
    .all-A,.contect,.end {
        width: 100%;
    }
}

